/*
    Author: Quevedo Ramos, Brayan
    Date: 4/20/19

    Modifyers:
    ----------
*/
/*
    Purpose:
    --------
    Define the basic styles that the entire website will use.
    This will include all H & P tags, and any common buttons that are 
    almost always used.
*/